<?xml version="1.0"?>
<model>
  <name>Yamabico Seminar - Pole</name>
  <version>1.0</version>
  <sdf>model-1_4.sdf</sdf>
  <author>
    <name>Helio Perroni Filho</name>
    <email>mail@xperroni.me</email>
  </author>
  <description>
    A pole of 55mm radius.
  </description>
  <depend>
  </depend>
</model>
