<launch>
  <param name="hokuyo_node/port" type="str" value="/dev/ttyACM1" />

  <node name="urg" pkg="hokuyo_node" type="hokuyo_node" />

  <node name="laser_link" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 map laser 100" />

  <node name="view" pkg="rviz" type="rviz" args="--no-stereo -d $(find yamabros)/rviz/urg.rviz" required="true"/>
</launch>
